@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
  font-family: 'HelveticaRegular';
  src: url('Helvetica\ Regular.otf') format('opentype');
}


:root {
  --transparent-gray: rgba(122, 122, 122, 0.2);
  --black: rgb(41, 41, 41);
  --border: rgba(56, 56, 56, 0.1);
  --shiny: rgba(101, 102, 145, 0.13);
  --light-gray: rgb(129, 129, 129);
  --message-me: rgba(101, 102, 145, 0.39);
  --message-them: rgba(126, 126, 126, 0.4);
  --alert: rgb(255, 145, 145);

  
  --enemy-background: rgb(117, 117, 117);
  --s-enemy-background:rgb(97, 97, 97);
  --enemy-text: rgb(87, 87, 87);
  --enemy-id-background: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HelveticaRegular', 'Open Sans', sans-serif;
}

.container {
  padding: 20px;
  height: 100vh;
  background: linear-gradient(180deg, rgb(235, 235, 235) 0%, rgba(44, 202, 250, 0.123) 100%); 
}

.container-main {
  display: flex;
}

.startup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: var(--black);
}

.startup input {
  width: 300px;
  border: 1px solid var(--border);
  padding: 3px;
  margin-top: 10px;
  background-color: unset;
  color: var(--black);
}

.startup input:focus {
  outline: none;
}

.friends::-webkit-scrollbar {
  display: none;
}

.friends {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} 

  .aside-prompt::-webkit-scrollbar {
  display: none;
}

.aside-prompt {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} 

