.aside {
    width: 300px;
    min-width: 300px;
    background-color: var(--transparent-gray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    user-select: none;
}

.aside .uid {
    color: var(--black);
    border: 1px solid var(--border);
    padding: 10px;
    font-size: 15fpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    border-radius: 8px;
    user-select: text;
}

.aside .friends {
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-top: 10px;
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.aside .friend {
    border: 1px solid var(--border);
    margin-bottom: 10px;
    height: 50px;
    padding: 5px;
    color: var(--black);
    cursor: pointer;
    position: relative;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.aside .friend p {
    width: 90%;
    word-wrap: break-word;
    user-select: text;
}

.aside .close-friend {
    cursor: pointer;
    color: var(--black);
    user-select: none;
    margin-right: 5px;
}

.aside .close-friend:hover {
    color: var(--black);
}

.aside .friend .friend-id {
    background-color: var(--black);
    color: var(--light-gray);
    position: absolute;
    top: 1px;
    right: 1px;
    display: none;
    padding: 3px;
    border-radius: 5px;
    user-select: text;
}

.aside .friend:hover .friend-id {
    display: unset;
}

.aside .friend-selected {
    background-color: var(--shiny);
    color: var(--black);
}

.aside .enemy {
    background-color: var(--enemy-background);
    color: var(--enemy-text);
}

.aside .enemy .close-friend {
    color: var(--enemy-text);
}

.aside .friend-selected.enemy {
    background-color: var(--s-enemy-background);
    color: var(--enemy-text);
}

.aside .friend-selected.enemy .close-friend {
    color: var(--enemy-text);
}

.aside .enemy .friend-id {
    background-color: var(--black);
}

.aside .add-friend {
    display: flex;
    justify-content: center;
    align-content: center;
}

.aside .add-friend input::placeholder {
    font-size: 13px;
}

.aside .add-friend input {
    font-size: 15px;
}

.aside .add-friend:hover .plus {
    display: none;
}

.aside .add-friend:hover input {
    display:  unset;
}

.aside .plus {
    cursor: pointer;
    color: var(--light-gray);
    display: flex;
    align-items: center;
    font-size: 15px;
}

.aside .plus iconify-icon {
    font-size: 30px;
    margin-right: 5px;
}

.aside input {
    background-color: unset;
    border: unset;
    color: var(--black);
    width: 100%;
    height: 100%;
    display: none;
    text-indent: 20px;
    
}

.aside input:focus {
    outline: none;
}

.aside input::placeholder {
    color: var(--light-gray);
    opacity: 1;
}

.aside .aside-prompt {
    height: 100px;
    border: 1px solid var(--border);
    overflow-y:scroll ;
    color: var(--shiny);
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
}

.aside .aside-prompt-item {
    word-wrap: break-word;
    color: var(--black); 
    user-select: none;
    /* width: 80%; */
    margin-left: 5px;
    margin-right: 30px;
}

.aside .aside-prompt-item > * {
    border-bottom: 1px solid var(--transparent-gray);
    line-height: 25px;
}

.aside .add-friend-prompt {
    padding: 2px;
    padding-bottom: 3px;
}

.aside .add-friend-prompt span {
    background-color: var(--shiny);
    color: var(--black);
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.aside .add-friend-prompt span:hover{
    /* background-color: var(--black); */
    color: var(--light-gray);
}

.aside .set-nickname-prompt {
    display: flex;
    flex-direction: column;
}

.aside .set-nickname-prompt input {
    display: unset;
    background-color: var(--shiny);
    color:  black;
    padding: 2px;
}

.aside .new-message {
    color: var(--alert); 
    background-color: rgb(255, 255, 255);
    position: absolute; 
    padding: 0 5px;
    right: 0;
    bottom: 0;
}

.aside #hide-aside-prompt {
    position: absolute;
    right: 25px;
    bottom: 20px;
    font-size: 20px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    color: var(--black);
}

#notifs {
    color: var(--light-gray);
}

.aside #hide-aside-prompt.selected {
    color: var(--alert) !important;
}

.aside #hide-aside-prompt:hover {
    color: var(--shiny);
}