.alert-files {
    background-color: var(--darker-gray);
    border: 1px solid var(--accent);
    top: 50%;
    left: 30%;
    margin-left: -80px;
    margin-top: -250px;
    width: 500px;
    height: 300px;
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-around;

    padding: 10px;
    padding-top: 20px;
    border-radius: 8px;

}

.alert-files .file {
    color: var(--shiny);
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    word-break: break-all;
    position: relative;
    border: 1px solid var(--accent);
    /* overflow-y: scroll */
    scrollbar-width: thin;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.alert-files .close-file {
    cursor: pointer;
}

.alert-files p {
    position: absolute;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}

.alert-files .file-msg-p {
    display: none;
}

.alert-files .file-embed {
    width: 100%;
    max-width: 100%;
    margin-top: auto;
}

.alert-files audio.file-embed {
    margin-top: 50px;
}

.alert-files .send-files {
    position: fixed;
    margin-left: 470px;
    margin-top: 280px;
    background-color: unset;
    border: unset;
    color: var(--accent);
    padding: 5px;
    cursor: pointer;
    background-color: var(--dark-gray);
    color: var(--shiny)
}

.alert-files .send-files:hover {
    color: white;
}