.alert-files {
    background-color: var(--darker-gray);
    border: 1px solid var(--accent);
    max-width: 500px;
    max-height: 300px;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 8px;
    z-index: 3;
}

.alert-files .mapping {
    padding: 10px;
    padding-top: 20px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alert-files .file {
    color: var(--shiny);
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    word-break: break-all;
    position: relative;
    border: 1px solid var(--accent);
    scrollbar-width: thin;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.alert-files .close-file {
    cursor: pointer;
}

.alert-files p {
    position: absolute;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}

.alert-files .file-msg-p {
    display: none;
}

.alert-files .file-embed {
    width: 100%;
    max-width: 100%;
    margin-top: auto;
}

.alert-files audio.file-embed {
    margin-top: 50px;
}

.alert-files .send-files {
    position: absolute;
    background-color: unset;
    border: 1px solid var(--shiny);
    border: none;
    bottom: -30px;
    right: 0;
    color: var(--accent);
    padding: 5px;
    cursor: pointer;
    background-color: var(--dark-gray);
    color: var(--shiny);
    height: 30px;
}

.alert-files .send-files:hover {
    color: white;
}