.alert-files {
    background-color: var(--transparent-gray);
    border: 1px solid var(--border);
    max-width: 500px;
    max-height: 300px;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 8px;
    z-index: 3;
}

.alert-files .mapping {
    padding: 10px;
    padding-top: 20px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alert-files .file {
    color: var(--black);
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    word-break: break-all;
    position: relative;
    border: 1px solid var(--border);
    scrollbar-width: thin;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.alert-files .close-file {
    cursor: pointer;
}

.alert-files .close-file:hover {
    color: var(--alert);
}

.alert-files p {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px;
}

.alert-files .file-msg-p {
    display: none;
}

.alert-files .file-embed {
    width: 100%;
    max-width: 100%;
    margin-top: auto;
}

.alert-files audio.file-embed {
    margin-top: 50px;
}

.alert-files .send-files {
    position: absolute;
    background-color: unset;
    border: none;
    bottom: -30px;
    right: 0;

    color: var(--black);
    cursor: pointer;
    height: 30px;
    font-size: 20px;
}

.alert-files .send-files:hover {
    color: var(--black);
}