.chat {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: var(--transparent-gray);
    margin-left: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.chat-main {
    border: 1px solid var(--border);
    height: calc(90% - 20px);
    margin-bottom: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
}

.message {
    word-wrap: break-word;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px 15px;
    color: var(--black);
    white-space: pre-line;
    border-radius: 10px
}

.message:has(.file-embed) {
    max-width: 500px;
}

.message > a {
    color: rgb(0, 38, 255);
}

.message.them  {
    background-color: var(--message-them);
}

.message.me {
    align-self: flex-end;
    width: 100%;
    background-color: var(--message-me);
}

.chat-input {
    border: 1px solid var(--border);
    height: calc(10% + 10px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.chat-input textarea::placeholder {
    color: var(--light-gray);
    opacity: 1;
}

.chat-input textarea {
    font-size: 15px;
    height: 100%;
    width: 100%;
    background-color: unset;
    border: unset;
    color: var(--black);
    overflow-y: scroll;
    resize: none;
}

.chat-input textarea::-webkit-scrollbar {
    display: none;
}
  
.chat-input textarea {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.chat-input textarea:focus {
    outline: none;
}

.normal-file-embed {
    cursor: pointer;
    text-decoration: underline;
}

.normal-file-embed:active {
    color: var(--black)
}
 
.video-file-embed, .image-file-embed {
    width: 100%;
    user-select: none;
    border-radius: 5px;
}

.audio-file-embed {
    width: 100%;
    user-select: none;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0; */
    max-width: unset;
    display: flex;
    align-items: center;
    padding: unset;
    flex-direction: column;
    max-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.fullscreen .image-file-embed {
    /* max-width: 80%; */
    /* max-height: 100vh; */
    height: 100vh;
    width: unset;
    height: unset;
    cursor: pointer;
}

.message.me.fullscreen {
    background-color: rgba(0, 0, 0, 0.432) !important;
    height: 100vh;
}
.fullscreen p {
    font-size: 20px;
    position: absolute;
    top: 20px;
    display: none;
}
.scroll-down {
    display: block;
    height: 30px;
    width: 30px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    left: 270px;
    bottom: 105px;
    position: absolute;
    
}

.scroll-down:hover {
    color: var(--shiny);
}

.scroll-down.chat-closed {
    margin-top: -116px;

}

.scroll-down {
    z-index: 1;
}

.fullscreen {
    z-index: 2;
}

.chat-input.chat-closed {
    display: none;
}

.chat-main.chat-closed {
    height: 100%;
    background-color: var(--transparent-gray);
    border-color: var(--black);
}

.msgClosed {
    border: 1px solid var(--alert);
}
