.chat {
    height: 100%;
    width: calc(100% - 350px);
    padding: 20px;
}

.chat-main {
    border: 1px solid var(--accent);
    height: calc(90% - 20px);
    margin-bottom: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
}

.message {
    background-color: var(--darker-gray); 
    word-wrap: break-word;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px 15px;
    color: white;
    white-space: pre-line;
    border-radius: 10px
}

.message > a {
    color: rgb(0, 38, 255);
}

.message.them  {
    background-color: rgb(54, 54, 54);
}

.message.me {
    align-self: flex-end;
    width: 100%;
    background-color: rgb(116, 47, 62);
}

/* chat input */
.chat-input {
    border: 1px solid var(--accent);
    height: calc(10% + 10px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.chat-input textarea {
    height: 100%;
    width: 100%;
    background-color: unset;
    border: unset;
    color: white;
    overflow-y: scroll;
    resize: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-input textarea::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.chat-input textarea {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.chat-input textarea:focus {
    outline: none;
}

.normal-file-embed {
    cursor: pointer;
    color: var(--shiny);
    text-decoration: underline;
}

.normal-file-embed:active {
    color: var(--accent)
}

.video-file-embed, .image-file-embed {
    max-width: 70%;
    user-select: none;
}

.audio-file-embed {
    width: 400px;
    user-select: none;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: unset;
    display: flex;
    align-items: center;
    padding: unset;
    flex-direction: column;
}

.fullscreen .image-file-embed {
    max-width: unset;
    width: 80%;
}
.fullscreen p {
    font-size: x-large;
}
.scroll-down {
    display: block;
    height: 30px;
    width: 30px;
    color: var(--accent);
    /* background-color: var(--accent); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    margin-left: -40px;
    margin-top: -45px;
    position: absolute;
    
}

.scroll-down:hover {
    color: var(--shiny);
}
.scroll-down.chat-closed {
    background-color: var(--darker-gray);
}

.scroll-down.chat-closed:hover {
    color: var(--dark-gray);
    border-color: black;
}

.scroll-down {
    z-index: 1;
}

.fullscreen {
    z-index: 2;
}

.chat-input.chat-closed {
    display: none;
}

.chat-main.chat-closed {
    height: 100%;
    background-color: var(--darker-gray);
    border-color: black;
}

.msgClosed {
    border: 1px solid red;
}
